*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.RDataTmp
*.html
*.pdf
*.png
*.tiff
*.jpg
*.tab
*.Rdata
*.zip
*.fasta
*.fasta.gz
*.fq.gz
*.out
*.xslx
shade_N_ck.Rproj
genes.rd.txt
bam.stats_val.txt
bam.stats_trimmed_unfiltered.txt
mapping_file.txt
test.txt
bioData/*
labnotes/*
data/*
doc/*
results/correlation/*
results/DE/*
results/gene_plots/*
results/heatmaps/*
.Rproj.user
!data/Araport11_functional_descriptions_20210930.txt
!data/gene_aliases_20210930.txt
!data/TFs-AGRIS_AtTFDB_2022-12-06-families_data.txt
!data/TFs-PlantTFDBv5.0_2022-12-06-Ath_TF_list.txt
!data/data/TFs-Ensembl_v55_2022-10_GO0003700_mart_export.txt
!data/full_metadata_20221205.tab
