*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.RDataTmp
*.html
*.pdf
*.png
*.tiff
*.jpg
*.tab
*.Rdata
*.zip
*.fasta
*.fasta.gz
*.fq.gz
*.out
*.xslx
shade_N_ck.Rproj
genes.rd.txt
bam.stats_val.txt
bam.stats_trimmed_unfiltered.txt
mapping_file.txt
test.txt
bioData/*
labnotes/*
data/*
doc/*
results/correlation/*
results/DE/*
results/gene_plots/*
results/heatmaps/*

.Rproj.user
